<a href="https://colab.research.google.com/github/dhruvi15/Machine-Learning-Lab-1/blob/main/Assignmentb_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# TODO 1: Load dataset
import pandas as pd


from google.colab import files
uploaded = files.upload()

# STEP 3: Read the CSV file into a DataFrame
df = pd.read_csv("assignment1_dataset.csv")
df

# Preview first 5 rows

df.head()

# Print dataset info, data types, and summary statistics
df.info()
df.describe()

Saving assignment1_dataset.csv to assignment1_dataset (3).csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeID           20 non-null     object
 1   Gender               20 non-null     object
 2   Age                  20 non-null     int64
 3   WorkHours            20 non-null     int64
 4   SleepHours           20 non-null     int64
 5   AttendanceRate       20 non-null     int64
 6   PreviousPerformance  20 non-null     int64
 7   EducationLevel       20 non-null     object
 8   RemoteWork           20 non-null     object
 9   ProductivityScore    20 non-null     int64
dtypes: int64(6), object(4)
memory usage: 1.7+ KB

,Age,WorkHours,SleepHours,AttendanceRate,PreviousPerformance,ProductivityScore
count,20.000000,20.000000,20.00000,20.00000,20.000000,20.000000
mean,35.550000,8.200000,6.65000,88.75000,81.800000,84.550000
std,6.984758,1.399248,1.03999,6.19741,8.351489,6.723682
min,25.000000,6.000000,5.00000,75.00000,65.000000,72.000000
25%,29.750000,7.000000,6.00000,85.00000,76.500000,79.750000
50%,35.500000,8.000000,7.00000,90.00000,84.000000,85.500000
75%,41.000000,9.000000,7.25000,93.25000,88.250000,88.750000
max,50.000000,11.000000,8.00000,97.00000,93.000000,95.000000

In [ ]:
# TODO 2:
# 1. Check for missing values

Missing_count = df.isna().sum()
print("Missing Value :",Missing_count)
# 2. Fill missing WorkHours with the mean

# There no missing value in dataset

# 3. Fill missing EducationLevel with the mode

# There is no missing value in dataset

# 4. Remove duplicate rows if any

duplicates_count = df.duplicated().sum()
df_unique = df.drop_duplicates()

print("Duplicate  Value :",duplicates_count)

Missing Value : EmployeeID             0
Gender                 0
Age                    0
WorkHours              0
SleepHours             0
AttendanceRate         0
PreviousPerformance    0
EducationLevel         0
RemoteWork             0
ProductivityScore      0
dtype: int64
Duplicate  Value : 0

In [8]:

# Load dataset

df = pd.read_csv("assignment1_dataset.csv")

# 1. Create WellnessIndex
df["WellnessIndex"] = df["WorkHours"] * df["SleepHours"]

# 2. Create AttendanceCategory

# High (>90)
# Medium (75â€“90)
# Low (<75)

def categorize_attendance(x):
    if x > 90:
        return "High"
    elif x >= 75 and x <= 90:
        return "Medium"
    else:
        return "Low"

df["AttendanceCategory"] = df["AttendanceRate"].apply(categorize_attendance)


df.head()

,EmployeeID,Gender,Age,WorkHours,SleepHours,AttendanceRate,PreviousPerformance,EducationLevel,RemoteWork,ProductivityScore,WellnessIndex,AttendanceCategory
0,E001,Male,29,8,7,92,78,Bachelor,Yes,82,56,High
1,E002,Female,34,9,6,88,85,Master,No,87,54,Medium
2,E003,Male,41,10,5,95,90,PhD,No,92,50,High
3,E004,Female,26,7,8,85,72,Bachelor,Yes,79,56,Medium
4,E005,Male,38,9,6,90,88,Master,Yes,86,54,Medium

In [16]:
# TODO 4:
# Encode Gender and EducationLevel

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df["Gender_encoded"] = le.fit_transform(df["Gender"])                                       # Female -> 0   # MAle -> 1
df["EducationLevel_encoded"] = le.fit_transform(df["EducationLevel"])                       # Bachelor -> 1 # Master -> 2   # PhD -> 3

df.head()

# Convert RemoteWork (Yes/No) into numerical form

df["RemoteWork_encoded"] = le.fit_transform(df["RemoteWork"])                                # No -> 0       # Yes -> 1

# Scale WorkHours and AttendanceRate using StandardScaler or MinMaxScaler

from sklearn.preprocessing import StandardScaler

scaler_StandardScaler = StandardScaler()

df[["WorkHours_scaled", "AttendanceRate_scaled"]] = scaler_StandardScaler.fit_transform(
    df[["WorkHours", "AttendanceRate"]])

df

,EmployeeID,Gender,Age,WorkHours,SleepHours,AttendanceRate,PreviousPerformance,EducationLevel,RemoteWork,ProductivityScore,WellnessIndex,AttendanceCategory,Gender_encoded,EducationLevel_encoded,RemoteWork_encoded,WorkHours_scaled,AttendanceRate_scaled
0,E001,Male,29,8,7,92,78,Bachelor,Yes,82,56,High,1,1,1,-0.146647,0.538036
1,E002,Female,34,9,6,88,85,Master,No,87,54,Medium,0,2,0,0.586588,-0.124162
2,E003,Male,41,10,5,95,90,PhD,No,92,50,High,1,3,0,1.319824,1.034685
3,E004,Female,26,7,8,85,72,Bachelor,Yes,79,56,Medium,0,1,1,-0.879883,-0.620811
4,E005,Male,38,9,6,90,88,Master,Yes,86,54,Medium,1,2,1,0.586588,0.206937
5,E006,Female,31,8,7,93,80,Bachelor,No,83,56,High,0,1,0,-0.146647,0.703585
6,E007,Male,45,11,5,97,92,PhD,No,94,55,High,1,3,0,2.053060,1.365784
7,E008,Female,28,6,8,78,70,Associate,Yes,75,48,Medium,0,0,1,-1.613118,-1.779657
8,E009,Male,36,9,6,89,84,Master,No,85,54,Medium,1,2,0,0.586588,0.041387
9,E010,Female,42,8,7,91,86,Bachelor,Yes,88,56,High,0,1,1,-0.146647,0.372486
10,E011,Male,33,7,7,80,75,Bachelor,Yes,78,49,Medium,1,1,1,-0.879883,-1.448558
11,E012,Female,39,9,6,94,90,Master,No,91,54,High,0,2,0,0.586588,0.869135
12,E013,Male,27,6,8,82,68,Associate,Yes,74,48,Medium,1,0,1,-1.613118,-1.117459
13,E014,Female,35,8,7,88,82,Bachelor,No,84,56,Medium,0,1,0,-0.146647,-0.124162
14,E015,Male,50,10,5,96,93,PhD,No,95,50,High,1,3,0,1.319824,1.200234
15,E016,Female,30,7,8,85,77,Master,Yes,80,56,Medium,0,2,1,-0.879883,-0.620811
16,E017,Male,44,9,6,90,88,Bachelor,No,87,54,Medium,1,1,0,0.586588,0.206937
17,E018,Female,25,6,8,75,65,Associate,Yes,72,48,Medium,0,0,1,-1.613118,-2.276306
18,E019,Male,37,8,7,92,84,Master,Yes,86,56,High,1,2,1,-0.146647,0.538036
19,E020,Female,41,9,6,95,89,PhD,No,93,54,High,0,3,0,0.586588,1.034685

In [ ]:
# TODO 5:
# 1. Scatter plot: WorkHours vs ProductivityScore
# 2. Boxplot: AttendanceCategory vs ProductivityScore
# 3. Correlation heatmap
# 4. Bar chart: EducationLevel vs ProductivityScore
# 5. Histogram of ProductivityScore
# 6. Scatter plot: WellnessIndex vs ProductivityScore